:root {
  --principal: #213159;
  --secundario: #F04B4C;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Sulphur Point', sans-serif;
}

body {
  min-height: 100vh;
}

nav {
  background-color: rgb(17, 17, 17);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 4rem;
  padding: 1rem;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li a{
  color: white;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  color: var(--secundario);
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgb(17, 17, 17);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.menu-button {
  display: none;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  
  .menu-button {
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

header {
  text-align: center;
  padding: 1rem;
}

#banner {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  padding:  1rem;
}

#banner #eslogan {
  width: 100%; 
  max-width: 600px;
  text-align: left;
  margin-bottom: 1rem;
}

#banner img {
  max-width: 100%; 
  height: auto;
}

@media (max-width: 768px) {
  #banner {
    flex-direction: column; 
  }
  
  #DescripcionGeneral .contenedorDescripcion{
      flex-direction: column;
  }

  #Beneficios {
      flex-direction: column;
  }

  #banner #eslogan {
    text-align: center; 
  }
  
  #DescripcionGeneral .contenedorDescripcion {
      text-align: center; 
  }

  #Beneficios .contenedorBeneficios {
      text-align: center; 
  }

  #banner img {
    width: 80%;
  }
  #Beneficios img{
      width: 20%;
  }
  
  #DescripcionGeneral img{
      width: 80%;
  }

  .puntos{
      width: 80%;
  }
}

@media (max-width: 480px) {
  #banner #eslogan {
    font-size: 1rem; 
  }

  #banner img {
    width: 100%; 
  }

  #Beneficios img{
      width: 20%;
  }
  
  #DescripcionGeneral img{
      width: 100%;
  }

  .puntos{
      width: 250px;
  }
}


.contenedorDescripcion{
  background-color: var(--principal);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;   
}

.puntos{
  color: white;
  width: 30rem;
}


#Beneficios{
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: lightgray;
}

.contenedorBeneficios img{
  justify-items: center;
}


#Nosotros{
  padding: 2rem;
}

#nosotrosHorizon{
  padding: 1rem;
}



#lanzar{
  height: 15rem;
  text-align: center;
}

button{
  background-color:  var(--secundario);
  border-style: none;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  color: white;
}

#registro{
  background-color: var(--principal);
  height: 30px;
}

img{
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

footer{
  height: 5rem;
  background-color: rgb(17, 17, 17);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  color: white;
}

#siguenos{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#siguenos img{
  margin-left: 1rem;
}

.formulario{
    background-color: var(--principal);
    height:80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Registrarse, #IniciarSesion{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 10px;    
}

form button{
    margin-left: 90px;
}


input{
    width: 20rem;
    border-radius: 5px;
}

button:hover{
  cursor: pointer;
  background-color: #fd2a2a;
}

nav img{
  box-shadow: none;
}

.contenedorBeneficios img{
  box-shadow: none;
}
